@@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pacifico", cursive;
    height: 100vh;
    background: linear-gradient(#0077b6, #bbd0ff);
}

main h1{
    color: #fff;
}

#effect-container{
    position: absolute;
    height: 100vh;
    top: 0;
    width: 100%;
    transition: opacity 0.5s;
    overflow: hidden;
}

.symbols{
    position: absolute;
    color: #90e0ef;
    animation: fall ease-in infinite, sway ease-in-out infinite;
}




@keyframes fall{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ top: 100vh; }
} 

@keyframes sway{
    0%{ margin-left: 0; }
    25%{ margin-left: 50px; }
    50%{ margin-left: -50px; }
    75%{ margin-left: 50px; }
    100%{ margin-left: 0; }
}
